spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: https://auth-service-tnc0.onrender.com
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

eureka:
  client:
    register-with-eureka: true
    fetch-registry: false
    service-url:
      defaultZone: https://eureka-server-4ipn.onrender.com/eureka

server:
  port: 8080
