spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: https://auth-service-tnc0.onrender.com
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

server:
  port: 8080
