spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false  
      routes:
        - id: auth-service
          uri: https://auth-service-tnc0.onrender.com  
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

eureka:
  client:
    enabled: false  

server:
  port: 8080
