server:
  port: 8080

spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:https://config-server-bph7.onrender.com"

  cloud:
    gateway:
      routes:
      - id: auth-service
        uri: https://auth-service-o4aa.onrender.com
        predicates:
        - Path=/auth/**

management:
  endpoints:
    web:
      exposure:
        include: "*"
